<div>
  <ul>
    <li>{{producto1}}</li>
    <li>{{producto2}}</li>
    <li>{{producto3}}</li>
    <li>{{producto4}}</li>
    <li>{{producto5}}</li>
    <li>{{producto6}}</li>
    <li>{{producto7}}</li>
    <li>{{producto8}}</li>
    <li>{{producto9}}</li>
    <li>{{producto10}}</li>
  </ul>
</div>